<div >
    <nav class="navbar">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1 text-dark">Gestion Notas</span>
          <ul class="nav ml-auto">
            <li class="nav-item">
              <a class="nav-link text-dark border-bottom active" aria-current="page" [routerLink]="'/author/notes'">Notas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark"  href="#"  data-tooltip="No estás autorizado" [ngClass]="{'disabled': !canUser}" id="link_user">Usuarios</a>
            </li>
          </ul>
          <button type="button" class="btn btn-outline-success" (click)="logoutUser()">Sign off</button>
        </div>
      </nav>
      <div class="container-from">
        <div class="mb-3" id="from-container">
            <label for="exampleFormControlInput1" class="form-label">Titulo</label>
            <input type="text" class="form-control" id="FormControlInput1" placeholder="Título de la nota" [(ngModel)]="tituloInputValue">
            <div class="select">
                <select class="status-select" [(ngModel)]="userSelectValue">
                  <option class="optionuser" *ngFor="let users of user" [value]="users.identificador">{{ users.nombre }}</option>
                </select>          
              </div>              
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Contenido</label>
            <textarea class="form-control" id="FormControlTextarea1" rows="3" [(ngModel)]="contenidoTextareaValue">{{note.descripcion}}</textarea>
          </div>
          <div class="mb-3">
            <button class="button_guardar" (click)="createnote()">Crear</button>
            <button  class="button_regresar"  [routerLink]="'/author/notes'">Regresar</button>
          </div>
      </div>
</div>