<div class="container">
  <div class="left">
    <img src="https://o.remove.bg/downloads/63c2bf6c-882a-4880-b99c-1aaa96b0e4b2/Ringed-Notepad-Mockup-removebg-preview__4_-removebg-preview.png" alt="logo">
    <p>“No hay nada más poderoso que la determinación y la pasión”.</p>
  </div>
  <div class="right">
    <p class="help">Need Help?</p>
    <form class="form-login" (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="mb-3">
        <p class="login-word">{{title}}</p>
        <label class="form-label" for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required #emailInput="ngModel">
        <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="alert alert-danger">
          <div *ngIf="emailInput.errors && emailInput.errors['required']">Email is required</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required #passwordInput="ngModel">
        <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="alert alert-danger">
          <div *ngIf="passwordInput?.errors?.['required']">Password is required</div>
        </div>
      </div>
      <button type="submit" class="btn btn-outline-success" id="button-submit" [disabled]="loginForm.invalid">Submit</button>
      <span class="register">Don't have an account? <a [routerLink]="['/register']">Register</a></span>
    </form>
  </div>
</div>
