.navbar{
    background-color: #6ce5b7;
}
.navbar_{
    padding: 40px;
}
.navbar_ .d-flex{
    width: 30%;
    margin: 0 65%;
   }
.button_search{
    background-color: #6ce5b7;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    width: 40%;
    transition: all 0.3s ease-in-out;
}
.button_search:hover {
    background-color: #5bd2a8;
    transform: translateY(-3px);
}
.button_create{
    background-color: #6ce5b7;
    color: white;
    border: none;
    margin-right: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    width: 40%;
    transition: all 0.3s ease-in-out;
}
.button_create:hover {
    background-color: #5bd2a8;
    transform: translateY(-3px);
}
.button_more{
    background-color: #6ce5b7;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.button_more:hover {
    background-color: #5bd2a8;
}
.container-cards{
    padding: 1rem;
    margin: 0 5%;
}
.card{
    text-align: center;
    margin-top: 2rem;
    box-shadow:  0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out; /*agregamos transición*/
}

.card:hover{
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); /*aumentamos el valor de box-shadow*/
    transform: scale(1.03); /*agregamos escala*/
}
.card-text {
    height: 6em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
  }
  .table{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  .table-color{
    background-color: #3ed49b;
    color: white;
  }
 tr:hover{
    background-color: rgb(228, 228, 228);
 }
 td{
    width: 0.5rem;
 }
 .content{
    width: 35rem;
  }
.checkbox  {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
  }
.optionstates{
    border-radius: 1rem;
  }

.button_update{
    background-color: #4c80fc;
    color: white;
    border: none;
    margin-right: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem 5rem 0.5rem 2.5rem;
    font-size: 15px;
    cursor: pointer;
    width: 30%;
    display: inline-block;
}
.button_update:hover {
    background-color: #1212af;
}
.button_delete{
    background-color: #ff3c3c;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 5rem 0.5rem 3rem;
    font-size: 15px;
    cursor: pointer;
    width: 30%;
    display: inline-block;
}
.button_delete:hover {
    background-color: #9b1212;
}